body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
  font-family: 'Outfit', sans-serif;
}
.nutrition-box{
  background-color: white;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (max-width: 375px) {
  body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }
  .nutrition-box {
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .image{
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
}

.image{
  width: 500px;
  border-radius: 5px;
}
.content .intro-title{
  font-size: 35px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media (max-width: 375px) {
  .content .intro-title{
    font-size: 38px;
    margin-left: 20px;
    line-height: 40px;
  }
}

.content .intro-subject{
  margin-top: 10px;
}
@media (max-width: 375px) {
  .content .intro-subject{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
  }
}
.preparation{
  background-color: hsl(330, 100%, 98%);
  margin-left: 20px;
}
.preparation .intro-title{
  font-size: 18px;
  font-weight: bold;
  color: hsl(332, 51%, 32%);
}
.preparation li{
  padding-left: 20px;
  margin-left: 0;
}
@media (max-width: 375px) {
  .preparation{
  width: 300px;
  background-color: hsl(330, 100%, 98%);
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}
  .preparation li{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
  }
}
.ingredients{
  border-bottom: 1px solid rgb(207, 196, 196);
  
}
.ingredients .intro-title{
  font-size: 25px;
  font-weight: bold;
  color: hsl(332, 51%, 32%);
  margin-top: 0px;
  margin-bottom: 0px;
}
.ingredients li{
  padding-left: 20px;
  margin-left: 0;
}
@media (max-width: 375px) {
  .ingredients .intro-title{
    margin-left: 20px;
    margin-top: 20px;
  }
  .ingredients li{
    margin-bottom: 15px;
  }

}
.instructions .intro-title{
  font-size: 25px;
  font-weight: bold;
  color: hsl(332, 51%, 32%);
}
.instructions li{
  padding-left: 20px;
  margin-left: 0;
}
@media (max-width: 375px) {
  .instructions{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    line-height: 20px;
  }
}
/* @media (max-width: 375px) {
  .nutrition{
    width: 375px;
    padding: 15px;
    margin: 0;
  }
} */
 .nutrition .intro-title{
  font-size: 25px;
  font-weight: bold;
  color: hsl(332, 51%, 32%);
}
.first-table{
  border-collapse: collapse;
}
.first-table td{
  border-bottom: 1px solid black;
  padding-right: 150px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
td{
  color: gray;
}
tr .no{
  font-weight: bold;
  color: hsl(332, 51%, 32%);
}
